# shellcheck disable=SC2148

# ALIASES
alias ll='ls -lah'
alias here='open .'
alias myip='ipconfig getifaddr en0'
alias ports='lsof -iTCP -sTCP:LISTEN -n -P'
alias docker-stop-containers='docker stop $(docker ps -aq)'
alias docker-rm-containers='docker rm $(docker ps -aq)'