# shellcheck disable=SC2148

# go to dotfiles location
dot() {
  # shellcheck disable=SC2164
  cd "${DOTFILES_REPO_DIR:-${HOME}/dotfiles}"
}

# install dotfiles
dot-install() {
    stow -d "${DOTFILES_REPO_DIR:-${HOME}/dotfiles}" -t "${HOME}" .
    echo $SHELL
    
    # Auto-source shell configuration based on $SHELL
    if [[ "${SHELL}" == *zsh* ]]; then
        source "${HOME}/.zshrc"
    elif [[ "${SHELL}" == *bash* ]]; then
        source "${HOME}/.bashrc"
    fi
}

# uninstall dotfiles
dot-uninstall() {
    stow -d "${DOTFILES_REPO_DIR:-${HOME}/dotfiles}" -t "${HOME}" -D .
}

# pull the latest dotfiles and install them
dot-sync() {
  (cd "${DOTFILES_REPO_DIR:-${HOME}/dotfiles}" && git pull)
  dot-install
}

# add a persisten env var 
dot-add-env() {
    local env_file input name value
    if [[ "$1" == "--local" ]]; then
        env_file="${DOTFILES_REPO_DIR:-${HOME}/dotfiles}/.local_config"
        input="$2"
        if [[ "$input" == *"="* ]]; then
            name="${input%%=*}"
            value="${input#*=}"
        else
            name="$2"
            value="$3"
        fi
    else
        env_file="${DOTFILES_REPO_DIR:-${HOME}/dotfiles}/.env"
        input="$1"
        if [[ "$input" == *"="* ]]; then
            name="${input%%=*}"
            value="${input#*=}"
        else
            name="$1"
            value="$2"
        fi
    fi
    echo "export ${name}=${value}" >> "$env_file"
}

# prune all local branches that do not have a remote anymore
git-prune-local() {
    git fetch -p
    git branch -vv | awk '/: gone]/{print $1}' | xargs -r git branch -D
}

# set lima machine for podman
podman-use-lima() {
    limactl start podman
    podman system connection default podman
    sudo rm /var/run/docker.sock
    sudo ln -s "${HOME}/.lima/podman/sock/podman.sock" /var/run/docker.sock
}

# set default machine for podman
podman-use-default() {
    podman system connection default podman-machine-default-root
    sudo rm /var/run/docker.sock
    sudo ln -s "${HOME}/.local/share/containers/podman/machine/podman.sock" /var/run/docker.sock
}

# find files with name in the specified directory
lg() {
    if [ $# -eq 1 ]; then
        # Only pattern provided, use current directory
        la | grep -E "$1"
    elif [ $# -eq 2 ]; then
        # Directory and pattern provided
        la "$1" | grep -E "$2"
    else
        echo "Usage: lg [directory] pattern"
        return 1
    fi
}