name: Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  # Enable manual triggering
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Install dotfiles
      - name: Install dotfiles
        env:
          DOTFILES_REPO_DIR: ${{ github.workspace }}
        run: |
          echo $SHELL
          echo "BEFORE"
          ls -la ~
          ./install.sh --deps --force
          echo "AFTER 1"
          ls -la ~
          source ~/.profile
          dot-install
          echo "AFTER 2"
          ll

      # Check dotfiles are installed
      - name: Check that the dotfiles have been correctly installed
        run: |
          ls -la ~
          dot-install
          ll ~
